/*Header*/
.nav .nav-item .nav-link{
    color: rgb(193, 140, 242);
    font-size:20px;
}

/*Carrusel*/
.carrusel{
    background-color:  rgb(193, 140, 242);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 4%;
    margin-top: 1%;
}

/*Sec Sillones*/
h1{
    color: rgb(193, 140, 242);
    font-size: medium;
    text-align: center;
}

.sillonesP{
    color: rgb(193, 140, 242);
    font-size: medium;
    text-align: center;
}

.importe, .precio{
    color: rgb(193, 140, 242);
    font-size: medium;
    text-align: center;
    
}

.tituloProducto{
    color: rgb(147, 92, 197);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.imagenes{
    width: 400px;
    height: 400px;
    border-radius: 8%;
    margin-left: 10%;
}

/*Sec Comprar*/
#comprar{
    width: auto;
    height: auto;
    display: flex;
    padding-left: 25%;
}

.img{
    width: 10%;
    height: auto;
}
 
.containerCompra{
    color: rgb(193, 140, 242);
    font-size: medium;
    font-weight: bolder; 
    margin-bottom: 8%;
    
}


/*footer*/
#pieDePagina{
    background-color:  rgb(193, 140, 242);
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h3{
    color: oldlace; 
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;

}


.footerLetra{
    color: oldlace; 
    text-align: left;
    padding-left: 50px;
}

.social i{
    color: oldlace;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    row-gap: 2px;
}

/*Button*/

button, .button{
    background-color: blueviolet;
    color: cornsilk;
    border-color: blueviolet;
    padding: 10px 50px;
}

button:hover{
   background-color: orchid;
}

.button:hover{
    background-color: orchid;
 }

 /*Sec Carrito*/
.carritoDiv{
    background-color: rgb(247, 239, 255);
    margin-top: 5%;
    margin-bottom: 5%;
}

.row{
    color: rgb(193, 140, 242);
    font-size: medium;
    font-weight: bolder; 
    display: grid;
    text-align: center;
}

.imgCarrito{
    width: 7%;
    height: 5%;
    margin-left: 45%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.totalProducto{
    color: rgb(147, 92, 197);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;

}

.formulario{
    color: rgb(147, 92, 197);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    margin-bottom: 8%;
}

.finalizar{
    margin-top: 3%;
}