
*{
    padding: 0%;
    margin: 0%;
}

/*Header*/
.nav .nav-item .nav-link{
    color: rgb(193, 140, 242);
    font-size:20px;
    font-style: italic;
}


/*Carrusel*/
.carrusel{
    background-color:  rgb(205, 189, 220);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 4%;
    
}

/*Sec Sillones*/
h1{
    color: rgb(193, 140, 242);
    font-size: medium;
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.sillonesP{
    color: rgb(193, 140, 242);
    font-size: medium;
    text-align: center;
    font-style: italic;
}

.imagenes{
    width: 400px;
    height: 400px;  
    margin-bottom: 5%;
}

.containerDiv{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10%;
    padding-left: 110px;
}

.importe{
    color: rgb(93, 17, 163);
    text-align: center;
    font-size: larger;   
}

.tituloProducto{
    background-color: rgb(251, 247, 247);
    border-radius: 50%;
    color: rgb(147, 92, 197);
    font-size: medium;
    text-align: justify;
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 5%;
    margin-top: 7%;
    
}

.Agregar{
    background-color: blueviolet;
    color: cornsilk;
    border-color: blueviolet;
    border-radius: 4%;
    font-size: medium;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin-left: 40%;
    padding: 2%;
}

.Agregar:hover{
    background-color: rgb(248, 168, 245);
 }

.error{
    text-align: center;
    color: rgb(228, 39, 39);
    font-size: larger;
    font-style: oblique;
    font-family:  Georgia, Times, 'Times New Roman', serif;
}


/*Sec Comprar*/
#comprar{
    color: rgb(193, 140, 242);
    font-size: medium;
    font-weight: bolder; 
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-bottom: 4%;
}

.img{
    width: 10%;
    height: auto;
}

.img1{
    width: 10%;
    height: 4%;
}

.pSubtittle{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: normal;
}


/*footer*/
#pieDePagina{
    background-color:  rgb(205, 189, 220);
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family:  Georgia, Times, 'Times New Roman', serif;
}

h3{
    color: oldlace; 
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;

}

.footerLetra{
    color: oldlace; 
    text-align: left;
    padding-left: 50px;
}

.social i{
    color: oldlace;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

 /*Sec Carrito*/
.carritoDiv{
    background-color: rgb(247, 239, 255);
    margin: 5%;
}

.row{
    color: rgb(193, 140, 242);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: bolder; 
    display: grid;
    text-align: center;
    width: 100%;
}


.tituloProducto{
    text-align: center;
    padding: 5%;
    color: rgb(193, 140, 242);
}

.importe{
    padding: 5%;
}

.precio{
    padding: 5%;
}


.totalProducto{
    color: rgb(147, 92, 197);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;

}

.formulario{
    color: rgb(147, 92, 197);
    display: grid;
    justify-content: center;
    row-gap: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    margin-bottom: 8%;
}

.Borrar{
    background-color: rgb(247, 239, 255);
    color: rgb(64, 24, 102);
    border: none;
}

.finalizar{
    background-color: blueviolet;
    color: cornsilk;
    border-color: blueviolet;
    border-radius: 4%;
    font-size: medium;
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 2%;
    
}

.finalizar:hover{
    background-color: rgb(248, 168, 245);
 }

 @media(max-width: 760px){

    .tituloProducto{
        margin-top: 15%;
        
    }

    .imagenes{
        width: 200px;
        height: 200px;  
        margin-bottom: 5%;
    }

    .Agregar{
        margin-left: 32%;
    }

    .nav .nav-item .nav-link{
      font-size: small;
    }

    h3{
        font-size: 10px;
    }
    
    .footerLetra{
        font-size: 12px;
    }
    
    .social i{
        font-size: 20px;
    }

 }